{% extends "_base.html" %}
{% block title %}درباره ما{% endblock title %}
{% load static %}


{% block content %}

<div class="page-title-wrap">
    <div class="page-title-area title-img-one">
        <div class="title-shape">
            <img src="{% static "images/title/title-shape1.png" %}" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-content">
                    <h2>درباره ما</h2>
                    <ul>
                        <li>
                            <a href="{% url "home" %}">خانه</a>
                        </li>
                        <li>
                            <span>درباره ما</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="know-area four pt-100 pb-70">
    <div class="know-shape">
        <img src="{% static "images/know/know-shape2.png" %}" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="know-img">
                    <img src="{% static "images/know/know-bg1.jpg" %}" alt="Know">
                    <img src="{% static "images/know/know-shape5.png" %}" alt="Shape">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="know-content">
                    <div class="section-title">
                        <h2>اطلاعات بیشتر از ما</h2>
                        <p>ما به عنوان یک مرکز تخصصی آرایش و زیبایی، متعهد به ارائه بهترین خدمات و تجربه‌ای لذت‌بخش برای مشتریان خود هستیم. تیم ما متشکل از آرایشگران و متخصصان زیبایی با تجربه و خلاق است که با استفاده از آخرین تکنیک‌ها و محصولات با کیفیت، به شما کمک می‌کنند تا زیبایی خود را به بهترین نحو به نمایش بگذارید.</p>
                    </div>
                    <ul>
                        <li>
                            <img src="{% static "images/know/know-icon1.png" %}" alt="Know">
                            <h3>مأموریت ما</h3>
                            <p>ما به عنوان یک مرکز تخصصی آرایش و زیبایی، متعهد به ارائه بهترین خدمات و تجربه‌ای لذت‌بخش برای مشتریان خود هستیم. تیم ما متشکل از آرایشگران و متخصصان زیبایی با تجربه و خلاق است که با استفاده از آخرین تکنیک‌ها و محصولات با کیفیت، به شما کمک می‌کنند تا زیبایی خود را به بهترین نحو به نمایش بگذارید.</p>
                        </li>
                        <li>
                            <img src="{% static "images/know/know-icon2.png" %}" alt="Know">
                            <h3>تیم ما</h3>
                            <p>تیم ما شامل آرایشگران و متخصصانی با تجربه و خلاق است که در زمینه‌های مختلف زیبایی فعالیت می‌کنند. هر یک از اعضای تیم ما با دانش و تخصص خود به بهبود کیفیت خدمات کمک می‌کنند. ما همیشه در حال یادگیری و به‌روز‌رسانی تکنیک‌هایمان هستیم.</p>
                        </li>
                        <li>
                            <img src="{% static "images/know/know-icon3.png" %}" alt="Know">
                            <h3>ارزش‌های ما</h3>
                            <p>ما به احترام به سلیقه و نیازهای مشتریان اعتقاد داریم و همیشه تلاش می‌کنیم که رضایت شما را جلب کنیم. ایجاد فضایی دلپذیر و آرام برای تجربه‌ای لذت‌بخش، یکی از ارزش‌های اصلی ماست. این ارزش‌ها در تمام خدمات ما مشهود است.</p>
                        </li>
                    </ul>
                    <a class="common-btn two" href="#">درباره ما</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}