{% extends "_base.html" %}
{% load static %}
{% block title %}تماس به ما {% endblock title %}
{% block content %}

<div class="page-title-wrap">
    <div class="page-title-area title-img-one">
        <div class="title-shape">
            <img src="{% static "images/title/title-shape1.png" %}" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-content">
                    <h2>تماس با ما</h2>
                    <ul>
                        <li>
                            <a href="{% url "home" %}">خانه</a>
                        </li>
                        <li>
                            <span>تماس با ما</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-form-area pb-100">
        <div class="container">
            <div class="form-item">
                <div class="contact-shape">
                    <img src="{% static "images/contact-shape1.png" %}" alt="Shape">
                    <img src="{% static "images/contact-shape2.png" %}" alt="Shape">
                </div>
                <form method="post" id="contactForm">
                    {% csrf_token %}
                    <div class="section-title two">
                        <h2>ارسال پیام به ما</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" name="full_name" id="name" class="form-control" placeholder="نام و نام خانوادگی" required data-error=" نام و نام خانوادگی خود را وارد کنید">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="ایمیل" required data-error=" ایمیل خود را وارد کنید">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" name="phone_number" id="phone_number" placeholder="شماره تماس" required data-error="شماره تماس خود را وارد کنید" class="form-control">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" name="subject" id="msg_subject" class="form-control" placeholder="موضوع" required data-error="لطفا موضوع خود را وارد کنید">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea name="msg" class="form-control" id="message" cols="30" rows="8" placeholder=" ارسال پیام" required data-error="پیام خود را بنویسید"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="submit" class="btn common-btn two">ارسال پیام </button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}

