{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block  title %}ورود{% endblock %}
{% block content %}

<div class="page-title-wrap">
    <div class="page-title-area title-img-six">
        <div class="title-shape">
            <img src="{% static "images/title/title-shape1.png" %}" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-content">
                    <h2>ورود</h2>
                    <ul>
                        <li>
                            <a href="{% url "home" %}">خانه</a>
                        </li>
                        <li>
                            <span>ورود</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="user-area ptb-100">
    <div class="container">
        <div class="user-item">
            <div class="user-shape">
                <img src="{% static "images/contact-shape1.png" %}" alt="Shape">
                <img src="{% static "images/contact-shape2.png" %}" alt="Shape">
            </div>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert_container">
                        <div class="alert alert-{{ message.tags }}" id="custom-alert">
                            {{ message }}
                            <button type="button" id="btn_close" onclick="closeAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        
                    </div>
                    
                {% endfor %}
            </div>
        {% endif %}


            <h2>ورود</h2>

            <form method="post">
                {% csrf_token %}
                {% for error in form.errors.values %}
                {{error}}
                {% endfor %}
                <div class="form-group">
                    {{ form.username|attr:"class:form-control"|attr:"placeholder:نام کاربری" }}
                </div>
                <div class="form-group">
                    {{ form.password|attr:"class:form-control"|attr:"placeholder:رمز عبور" }}
                </div>
               

                <button type="submit" class="btn common-btn two">ورود</button>
                
                <h4>آیا اکانت ندارید ؟<a href="{% url "signup" %}">ثبت نام</a></h4>
                <h4>آیا رمز عبور خود را فرموش گرده اید ؟ <a href="{% url "password_reset" %}">فرموشی رمز عبور</a></h4>
            </form>
        </div>
    </div>
</div>

<script>
    function closeAlert() {
        document.getElementById("custom-alert").style.display = "none";
        document.getElementById("btn_close").style.display = "none";

    }
</script>

{% endblock content %}