{% extends "_base.html" %}
{% load static %}
{% block title %}ثبت رمز عبور {% endblock title %}
{% block content %}

<div class="reviews-area two ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
               
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="reviews-shape">
                        <img src="{% static "images/reviews/reviews-shape1.png" %}" alt="Shape">
                        <img src="{% static "images/reviews/reviews-shape2.png" %}" alt="Shape">
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            <p>پسورد با موفقیت تغییر یافت</p>
                            <a class="common-btn" href="{% url "home" %}">بازگشت به صفحه اصلی</a>
                            
                            
                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="review-content">
                            <i class='bx bxs-quote-alt-right icon'></i>
                            
                            <ul>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                                <li>
                                    <i class='bx bxs-star checked'></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                   
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}