{% extends "_base.html" %}
{% block title %}{{ service.title }}{% endblock title %}
{% load static %}

{% block content %}


<div class="page-title-wrap">
    <div class="page-title-area title-img-two">
        <div class="title-shape">
            <img src="{% static "images/title/title-shape1.png" %}" alt="Shape">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-content">
                    <h2>{{ service.title }}</h2>
                    <ul>
                        <li>
                            <a href="{% url "home" %}">خانه</a>
                        </li>
                        <li>
                            <span>جزییات خدمات</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="details-img">
            <img src="{{ service.image.url }}" alt="Details">
        </div>
        <div class="details-spa">
            <h3>{{ service.title }}</h3>
            
                
            <p> {{ service.desc }} </p>
        </div>
    </div>
{% endblock content %}