{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Jeel - Beauty and Wellness HTML Template">
    <meta name="description" content="Jeel - Beauty and Wellness HTML Template">
    <meta name="author" content="Barat Hadian">

    

    <link rel="stylesheet" href="{% static "css/boxicons.min.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static "css/meanmenu.css" %}">

    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">

    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    

    <link rel="stylesheet" href="{% static "css/modal-video.min.css" %}">

    <link rel="stylesheet" href="{% static "css/odometer.min.css" %}">
    <link rel="stylesheet" href="{% static "css/sahel-font-face.css" %}">
    <link rel="stylesheet" href="{% static "css/vazir-font-face.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/settings.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/layers.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/navigation.css" %}">

    <link rel="stylesheet" href="{% static "css/nice-select.min.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static "css/rtl.css" %}">
    
    

    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

    <div class="loader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="loading">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="header-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-3 col-lg-3">
                    <div class="left">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <div class="right">
                        <ul>
                            <li>
                                <i class='bx bx-mail-send'></i>
                                <span>ارسال ایمیل:</span>
                                <a href="mailto: jeeli@gmail.com.com"> jeel@gmail.com</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar-area sticky-top">

        <div class="mobile-nav">
            <a href="{% url "home" %}" class="logo">
                <img src="{% static "images/logo.png" %}" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{% url "home" %}">
                        <img src="{% static "images/logo.png" %}" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url "home" %}" class="nav-link dropdown-toggle ">صفحه اصلی </a>

                                
                            </li>
                            <li class="nav-item">
                                {% if request.user.is_authenticated %}
                                <a href="#" class="nav-link dropdown-toggle">{{ request.user.username }}<i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    
                                    <li class="nav-item">
                                        <a href="{% url "password_change" %}" class="nav-link">تغییر رمز عبور</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url "logout" %}" class="nav-link">خروج </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url "book" %}" class="nav-link">رزرو نوبت</a>
                                    </li>
                                    
                                </ul>

                                {% else %}
                                <a href="#" class="nav-link dropdown-toggle">عضویت<i class='bx bx-plus'></i></a>
                                <ul class="dropdown-menu">
                                    
                                    <li class="nav-item">
                                        <a href="{% url "login" %}" class="nav-link">ورود</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url "signup" %}" class="nav-link">ثبت نام</a>
                                    </li>
                                    
                                </ul>
                                {% endif %}
                                
                            </li>
                            <li class="nav-item">
                                <a href="{% url "about" %}" class="nav-link">درباره ما</a>
                            </li>
                            
                            
                            <li class="nav-item">
                                <a href="{% url "contact" %}" class="nav-link">تماس با ما</a>
                            </li>
                        </ul>

                        <div class="side-nav">
                            
                           
                           
                           <a class="common-btn nav-btn" href="{% url "book" %}">رزرو نوبت</a>
                           
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


{% block content %}


{% endblock content %}



<footer class="footer-area pt-100 pb-70">
    <div class="footer-shape">
        <img src="{% static "images/footer-shape1.png" %}" alt="Shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>اطلاعات تماس:</h3>
                        <ul class="info">
                            <li>
                                <a href="#">تهران ، میدان آزادی ، خیابان 9 شرقی</a>
                            </li>
                            
                            <li>
                                <span>ایمیل:</span>
                                <a href="mailto: hello@jeel.com"> jeel@gmail.com</a>
                            </li>
                           
                        </ul>
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-img">
                        <a href="{% url "home" %}">
                            <img src="{% static "images/logo-two.png" %}" alt="Footer">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="footer-item">
                    <h3>ساعات کاری:</h3>
                    <div class="footer-hours">
                        <div class="left">
                            <ul>
                                <li>شنبه:</li>
                                <li>یک شنبه:</li>
                                <li>دوشنبه :</li>
                                <li>سه شنبه:</li>
                                <li>چهارشنبه:</li>
                                <li>پنجشنبه:</li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul>
                                <li>
                                    08:00
                                    <span>23:00</span>
                                </li>
                                <li>
                                    08:00
                                    <span>23:00</span>
                                </li>
                                <li>
                                    08:00
                                    <span>21:00</span>
                                </li>
                                <li>
                                    09:00
                                    <span>23:00</span>
                                </li>
                                <li>
                                    09:00
                                    <span>23:00</span>
                                </li>
                                <li>
                                    09:00
                                    <span>23:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="copyright-area">
    <div class="container">
        <div class="copyright-item">
            <p> طراحی شده توسط <a
                    href="https://parsajavidi.ir" target="_blank"> پارسا جاویدی</a></p>
        </div>
    </div>
</div>


<div class="go-top">
    <i class='bx bxs-up-arrow-alt'></i>
    <i class='bx bxs-up-arrow-alt'></i>
</div>


<script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>


<script src="{% static "js/contact-form-script.js" %}"></script>

<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>

<script src="{% static "js/jquery.meanmenu.js" %}"></script>

<script src="{% static "js/wow.min.js" %}"></script>

<script src="{% static "js/owl.carousel.min.js" %}"></script>

<script src="{% static "js/jquery-modal-video.min.js" %}"></script>

<script src="{% static "js/odometer.min.js" %}"></script>
<script src="{% static "js/jquery.appear.min.js" %}"></script>

<script src="{% static "js/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "js/jquery.themepunch.revolution.min.js" %}"></script>

<script src="{% static "js/extensions/revolution.extension.actions.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.carousel.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.kenburn.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.migration.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.navigation.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.parallax.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.slideanims.min.js" %}"></script>
<script src="{% static "js/extensions/revolution.extension.video.min.js" %}"></script>

<script src="{% static "js/jquery.nice-select.min.js" %}"></script>

<script src="{% static "js/custom.js" %}"></script>
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.select2').select2();  
    });

    
</script>


</body>


</html>